
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
  }
  
  .quotes {
    padding: 20px 50px;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 25px;
  }
  
  .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tweet {
    background-color: #1da1f2;
    text-decoration: none;
  }
  
  .new-quote {
    background-color: #4A2B0F;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }

  #date{
    font-size: 1.3em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: normal;
    letter-spacing: 0.2em;
    opacity: 0.6;
    filter: alpha(opacity)
  }

  #display{
    font-size: 2.9em;
    top: 10px;
    padding-bottom: 20px;
    opacity: 0.80;
    filter: alpha(opacity=80); /* For IE8 and earlier */
  }

  .quote-text{    
  max-width: 30em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times, serif;
  letter-spacing:0.1em;
  text-align:center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
  }